<div class="row">
    <div class="col-md-12 col-sm-6">
        <div id="reporters">
            <h3>On The Beat</h3>
            <div class="content_box">
            {% for reporter in reporters %}
                <div class="reporter row">
                    <div class="col-xs-4">
                        <img class="img-responsive img-circle" src="{{ url_for('static', filename=reporter.image_src) }}" alt="Photo of {{ reporter.name }}">
                    </div>
                    <div class="col-xs-7">
                        <h4><a href="{{ reporter.url }}" alt="All {{ reporter.name }} stories">{{ reporter.name }}</a></h4>
                        {% if reporter.handle %}
                        <a class="twitter_handle" href="http://twitter.com/{{ reporter.handle }}" alt="Twitter account for {{ reporter.name }}">@{{ reporter.handle }}</a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
</div>
